STRING_SESSION =STRING_SESSION=BQFjfZcAxQ_bweRrrCu73foUKLwMEaDrwxouEZymx7vH7uQjHCHhBX1F-rza8M_w3sBNFa6Ei7avTj1cVP4CSFK-rH5YXlVX6wocZ8ErLmOuwpKVYqn28rYEFySRbSHHICwqIld2DO1D4f_dhQCcN9E5GGBY8q_ViaYji9l1D7r6FgNdMEHNDt3e42nd_P7whMpYzDD2SuPGP4Ylkt7GKdRWm-MCHSFAnPgo60ARYKFJ06z_VAX8xqx9e_WpHrw7KBs_DAFPm7Dr3PpbSRrBcW5SWUWbqsbVGyHLsGk_IAN7R1wajQBvrmbpdWsDxe1nIPe8pb5JUtzjjarhgCBvSc9neBYj6AAAAAFbdcIhAA
API_ID = 23297431
API_HASH = 32298be374754eede6f56e450ae59ccd
BOT_TOKEN = 6615032399:AAHq72xQJ88yfzH_ssD723QOwd0dkpu7x8o
MONGO_DB_URI = mongodb+srv://versionx12:KAMALVAI01@cluster0.ls8jweh.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001895273316
MUSIC_BOT_NAME = VX MUSIC BOT
OWNER_ID = 6100746372
